########################################################
# http://www.hdfoots.com
########################################################
@IF(@PARAM1@!=Schedule)@
@IF(@PARAM1@!=CATCH)@
####################################################
title=*Schedule*
type=once
cfg=hdfoots.com.cfg@Schedule
url=http://www.hdfoots.com/schedule/index.php
####################################################
start=http://www.hdfoots.com/schedule/index.php
skill=videoTitle
catcher=streams
sort=name
########################################################
item_infos=title='[^']*'href='([^']+)'>([^<]+)</a>
item_order=url.tmp|title

item_info_name=url
item_info_from=url.tmp
item_info_build=http://www.hdfoots.com%s
item_url_build=%s
########################################################
@ENDIF@
@ENDIF@
@IF(@PARAM1@==Schedule)@
skill=videoTitle
item_infos=<h3>\s*<a>\s*<img class="chimg" alt="[^'"]+".*?src="[^'"]+"/>\s*<span> &nbsp;\s*([^<]+)\s*</span>\s*([^<]+)</a>\s*</h3>
item_order=time.tmp|title.tmp
item_skill=rss

item_info_name=time
item_info_from=time.tmp
item_info_convert=offset('%s','+00:00')
item_info_build=%s

item_info_name=title
item_info_from='(' + time + ) ' + title.tmp + '
item_info_build=%s

item_info_name=cfg
item_info_from=title.tmp
item_info_build=hdfoots.com.cfg@CATCH@%s

item_url_build=%s
@ENDIF@

@IF(@PARAM1@==CATCH)@

catcher=streams
skill=autoselect
section=@PARAM2@.*?</span>\s*</div>

item_infos=href='([^'"]+)'>([^<]+)</a>
item_order=url.tmp|title
item_skill=rss

item_info_name=url
item_info_from=url.tmp
item_info_build=http://www.hdfoots.com%s

item_url_build=%s
@ENDIF@