########################################################
# cricfire.com
########################################################
@IF(@PARAM1@!=VIDEOS)@

section=<li class="highlights">.*?</div>\s*</div>
item_infos=<a href="([^"]+)">([^<]+)</a><br>
item_order=url|title
item_skill=rss

item_info_name=cfg
item_info_build=cricfire.com.cfg@VIDEOS

item_url_build=http://cricfire.com%s
@ENDIF@

@IF(@PARAM1@==VIDEOS)@
catcher=videos
skill=videoTitle
item_infos=<li><a href="([^"]+)">([^<]+)</a></li>
item_order=url|title
item_skill=rss

item_url_build=http://cricfire.com%s
@ENDIF@

